form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 61px;
}
input {
  margin: 0 12px;
  border-color: #c0a6de;
}
label {
  margin: 22px 0;
}
