.bottom-margin {
  margin-bottom: 30px;
}
.labeled-text:nth-child(1) {
  padding-top: 20px;
}
input {
  margin: 2px;
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid #5a5a5a;
  outline: none;
  box-shadow: 1px 1px 4px 1px #888;
}
