.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: auto;
  border-radius: 30px;
  padding: 20px;
  margin: 12px;
}
.card img {
  width: 260px;
  height: 200px;
  border-radius: 28px;
  margin: 0 0 14px 0;
}
.card .hotel-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
