header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(212, 208, 212);
  padding: 6px;
}
header ul {
  list-style: none;
  padding: 0;
}
header ul li {
  display: inline;
  padding: 30px;
}
header ul li a {
  text-decoration: none;
  color: black;
}
