header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #deb1dd;
  padding: 6px;
  box-shadow: 0 0 9px 3px #888888;
}
header ul {
  list-style: none;
  padding: 0;
}
header ul li {
  display: inline;
  padding: 30px;
}
header ul li a {
  text-decoration: none;
  color: black;
}
